<div class="experience-container">
    <!-- Contract Lecturer-->
    <div class="experience-card">
        <h2>Assistant Lecturer</h2>
        <p><strong>Department of Mathematics and Applied Mathematics, University of Cape Town</strong></p>
        <p><strong>2025</strong></p>
        <p>
            Assistant lecturer for the course MAM1012S (Mathematics 1012) at UCT.
        </p>
        <p>
            Giving lecturers on Integral calculus, including numerical integration,
            introduction to ordinary differential equations, matrices and elementary linear algebra, Markov
            Systems, Taylor Maclaurin, and Binomial series, functions of several variables, three-dimensional
            space, partial derivatives and applications to optimization problems, the Simplex Method. Aimed at Commerce students.
        </p>
    </div>
    
    <!-- PGCE and e-Portfolio-->
    <div class="experience-card">
        <h2>Postgraduate Certificate in Education at UCT</h2>
        <p><strong>School of Education, University of Cape Town</strong></p>
        <p><strong>2025</strong></p>
        <p>
            Professional teaching qualification covering the essentially tools and knowledge needed for High School teaching. 
        </p>
        <p>
            Areas covered include but are not limited to: Cognitive Development, Educational Technology, Learning Assessments, Social Positioning & Social Justice, Languange and Literacy, Curriculum Theory & Pedagogy, Diversity and Inclusion, and more.
        </p>
        <p>
            <a href="{{ '/pgce/eportfolio'}}" target="_blank">View my e-Portfolio</a>
        </p>
    </div>

    <!-- Teaching Practice 2-->
    <div class="experience-card">
        <h2>High School Teaching Practice</h2>
        <p><strong>Walmer Secondary School</strong></p>
        <p><strong>2025</strong></p>
        <p>
            Teaching Practice assessed for the Postgraduate Certificate in Education (PGCE) at UCT. 
        </p>
        <p>
            Taught Mathematics to Grades 9, 10 and 11 classes. Under the mentorship of the school's Principal. 
        </p>
    </div>

    <!-- Teaching Practice 1-->
    <div class="experience-card">
        <h2>High School Teaching Practice</h2>
        <p><strong>Wynberg Girls' High School</strong></p>
        <p><strong>2025</strong></p>
        <p>
            Teaching Practice assessed for the Postgraduate Certificate in Education (PGCE) at UCT. 
        </p>
        <p>
            Taught Mathematics to Grades 8, 9 and 10 classes. Under the mentorship of the Mathematics department of the school including the subject head. 
        </p>
    </div>

    <!-- Academic Training Internship Programme -->
    <div class="experience-card">
        <h2>Academic Training Internship Programme (ATIP)</h2>
        <p><strong>Department of Mathematics and Applied Mathematics, University of Cape Town</strong></p>
        <p><strong>2023</strong></p>
        <p>
            Teaching training for Postgraduate students pursuing an academics career. The programme focussed on teaching aspects of First Year Mathematics courses.
        </p>
    </div>
    
    <!-- Teaching Assistant at UCT MAM-->
    <div class="experience-card">
        <h2>Teaching Assistant</h2>
        <p><strong>Department of Mathematics and Applied Mathematics, University of Cape Town</strong></p>
        <p><strong>2022–2025</strong></p>
        <p>
            Courses: MAM2000W, MAM2040F, MAM1043H, MAM1010F (Linear Algebra, Differential Equations, Mathematical Modelling and Dynamics, and Financial Mathematics).
        </p>
        <p>
            Responsibilities: Weekly tutorial sessions, grading tests, and exams.
        </p>
    </div>

    <!-- Teaching Assistant at UCT Physics Department -->
    <div class="experience-card">
        <h2>Teaching Assistant</h2>
        <p><strong>Department of Physics, University of Cape Town</strong></p>
        <p><strong>2023–2025</strong></p>
        <p>
            Main TA for PHY1013F (Physics for Engineers).
        </p>
        <p>
            Responsibilities: Tutoring course material, setting up and running weekly help sessions, grading tests and exams.
        </p>
        <p>
            TA for PHY1031F and PHY1013S (General Physics and Physics for Engineers).
        </p>
        <p>
            Responsibilities: Tutoring and lab demonstrations, grading lab reports.
        </p>
    </div>
    
    <!-- Volunteer Tutor at Golden Future Project -->
    <div class="experience-card">
        <h2>Volunteer Tutor</h2>
        <p><strong>Golden Future Project, University of Cape Town</strong></p>
        <p><strong>2018–Present</strong></p>
        <p>
            Tutored high school mathematics and physics, and provided computer literacy sessions.
        </p>
    </div>

    <!-- Volunteer Tutor at The Rising Star Project -->
    <div class="experience-card">
        <h2>Volunteer Tutor</h2>
        <p><strong>The Rising Star Project, SAAO (South African Astronomical Observatory), Thandokhulu High School</strong></p>
        <p><strong>2023–Present</strong></p>
        <p>
            Tutored physics to matriculants.
        </p>
    </div>
  </div>