<div class="sidebar" id="sidebar">
    <a href="{{ '/pgce/eportfolio' | relative_url }}">Home</a>
    <a href="{{ '/pgce/bio' | relative_url }}">About Me</a>
    <a href="{{ '/pgce/classroom' | relative_url }}">Google Classroom</a>
    <a href="{{ '/pgce/survey' | relative_url }}">Google Survey/Quiz</a>
    <a href="{{ '/pgce/quiz' | relative_url }}">Interractive Quizzes</a>
    <a href="{{ '/pgce/videos' | relative_url }}">Video Projects</a>
    <a href="{{ '/pgce/sims' | relative_url }}">Simulations and more</a>
    <a href="{{ '/pgce/posters' | relative_url }}">Posters</a>
    <a href="{{ '/pgce/aitasks' | relative_url }}">AI Tasks</a>
    <a href="{{ '/pgce/reflections' | relative_url }}">Reflective Practices</a>
  </div>
  
  <div class="overlay" id="overlay" onclick="toggleMenu()"></div>