<nav class="navbar">
    <div class="menu-toggle" onclick="toggleMenu()">&#9776;</div>
    <div class="navbar-name">
      <a href="{{ '/pgce/eportfolio' | relative_url }}">Thato Thapo</a>
    </div>
    <!-- Mobile Toggle Button -->
    <!--<button class="menu-toggle" onclick="toggleMenu()" aria-label="Menu">
      <i class="fas fa-bars"></i>
    </button>-->
    <div class="navbar-links">
      <a href="{{ '/pgce/quiz' | relative_url }}">Quizzes</a>
      <a href="{{ '/pgce/sims' | relative_url }}">Simulations</a>
      <a href="{{ '/pgce/reflections' | relative_url }}">Reflective Practices</a>
    </div>
  </nav>