<div class="sidebar" id="sidebar">
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/blog' | relative_url }}">Blog</a>
    <a href="{{ '/projects' | relative_url }}">Projects</a>
    <a href="{{ '/outreach' | relative_url }}">Outreach & Teaching</a>
    <a href="{{ '/private-tutoring' | relative_url }}">Private Tutoring</a>
    <a href="{{ '/about' | relative_url }}">About Me</a>
    <a href="{{ '/affiliations' | relative_url }}">Affiliations</a>
  </div>
  
  <div class="overlay" id="overlay" onclick="toggleMenu()"></div>